html {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
}

.right {
  float: right;
  width: 50%
}

.left {
  float: left;
  width: 50%
}
