html {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
}

h1 {
  color: #fff;
  text-align: center;

}
.right {
  float: right;
  width: 40px;
}

.left {
  float: left;
  width: 40px;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
}
ul {
  display: inline-block;;
}

a:hover {
  background-color: #a63f38;
}
